{% extends 'base.html' %}

{% block title %}About{% endblock title %}
        
{% block content %}
<div class="container">
                    <h1 class="text-center mt-3 mb-4">About PK Institute</h1>
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p>Welcome to PK Institute, your gateway to mastering IT skills through Python courses. We are
                        passionate about providing high-quality education and equipping our students with the tools
                        they need to succeed in the tech industry.</p>
                    <p>At PK Institute, we offer a wide range of Python-based IT courses suitable for beginners,
                        intermediate learners, and advanced professionals. Our courses are designed and taught by
                        experienced industry experts who are committed to helping you achieve your learning goals.</p>
                    <p>Whether you are looking to start a career in programming, enhance your existing IT skills, or
                        explore the world of data science, our comprehensive Python courses will empower you to thrive
                        in today's digital landscape.</p>
                </div>
            </div>
                    </div>
{% endblock content %}

